.cabecalho{
    background-color: rgb(24, 123, 139);
    text-align: center;
    font-family: Heattenschweiler; 'Arial Narrow Bold';
    font-size: large;
}

.corpo{
    background-color: #2fd8f230;
    text-align: center;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.corpo2{
    background-color: #2fd8f230;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.corpo3{
    background-color: #2fd8f230;
    text-align: center;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}